// шрифты
$main-font: 'PT Sans', sans-serif;
$accent-font: 'Bebas Neue', sans-serif;

//цвета
$main-color: #42567A;
$accent-color: #3877EE;

$date-color-first: #5D5FEF;
$date-color-second: #EF5DA8;

$small-circle-color: rgba(#303E58, 50%);

$background-color: #F4F5F9;
