@use "@/styles/variables.scss";

.number {

    font-size: 200px;
    font-weight: bold;

    &--blue {
        color: variables.$date-color-first;
    }

    &--red {
        color: variables.$date-color-second;
    }
}