@use "@/styles/variables.scss";
.page {
  margin: 0px auto;
  max-width: 1440px;
  position: relative;
  padding-bottom: 100px;
  border: 1px solid rgba(variables.$main-color, 0.1);
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.header {
  display: flex;
  width: 431px;
  position: relative;
  justify-content: space-between;
  margin-top: 156px;

  &-line {
    top: 0;
    left: 0;
    position: absolute;
    width: 5px;
    height: 100%;
    background: linear-gradient(#3877ee, #ef5da8);
  }

  h1 {
    margin-left: 78px;
    font-weight: bold;
    font-size: 56px;
    line-height: 120%;
  }
}

.date-container {
  position: relative;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  margin-top: 60px;

  // Горизонтальная линия
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(variables.$main-color, 0.1);
    transform: translateY(-50%);
    z-index: -1;
  }

  // Вертикальная линия
  &::after {
    content: "";
    position: absolute;
    left: 50%;
    top: -350px;
    bottom: -480px;
    width: 1px;
    background: rgba(variables.$main-color, 0.1);
    transform: translateX(-50%);
    z-index: -1;
  }
}

.circle-wrapper {
  position: absolute;
  z-index: 1;
}

.first-year {
  justify-self: end;
  padding-right: 67px;
  z-index: 0;
  pointer-events: none;
}

.second-year {
  justify-self: start;
  padding-left: 27px;
  z-index: 0;
  pointer-events: none;
}

.nav-wrapper {
  margin-top: 96px;
  margin-left: 78px;
}

.slider-wrapper {
  margin-top: 60px;
  margin-left: 0px;
}
