@use "@/styles/variables.scss";
.sliderContainer {
  position: relative;
  padding: 0 76px; // Место для кнопок
}

.mySwiper {
  width: 99%;
}

.navButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  color: variables.$accent-color;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  z-index: 10;

  &:hover:not(:disabled) {
    transform: translateY(-50%) scale(1.1);
    background-color: white;
  }

  &:disabled {
    opacity: 0;
    visibility: hidden;
    cursor: default;
  }
}

.customPrev {
  left: 40px;
}

.customNext {
  right: 40px;
}

.disabled {
  opacity: 0;
  visibility: hidden;
  cursor: default;
}
