@use "@/styles/variables.scss";
.sliderContainer {
  position: relative;
  padding: 0 76px; // Место для кнопок
}

.mySwiper {
  width: 99%;
  --swiper-pagination-bullet-horizontal-gap: 5px;
}

.navButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  color: variables.$accent-color;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  z-index: 10;

  &:hover:not(:disabled) {
    transform: translateY(-50%) scale(1.1);
    background-color: white;
  }

  &:disabled {
    opacity: 0;
    visibility: hidden;
    cursor: default;
  }
}

.customPrev {
  left: 40px;
}

.customNext {
  right: 40px;
}

.disabled {
  opacity: 0;
  visibility: hidden;
  cursor: default;
}

:global(.swiper-pagination-bullet) {
  background-color: rgba(variables.$main-color, 0.4);
  width: 6px;
  height: 6px;
  margin: 0 10px;
  opacity: 1;
}

:global(.swiper-pagination-bullet-active) {
  background-color: rgba(variables.$main-color, 1);
}

:global(.swiper-pagination) {
  position: relative;
}

:global(.swiper-slide) {
  width: 400px;
}

@media (width <= 768px) {
  .sliderContainer {
    padding: 0;
    padding-left: 20px;
  }
  .navButton {
    color: transparent;
  }

  .mySwiper {
    min-height: 190px;
  }
  
  :global(.swiper-slide) {
    width: 170px;
  }
}
